{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="{% static 'js/secure.js' %}"></script>
  </head>
  <body>
    <header class="header">
      <h2 id="title" class="text-center">AI Camera Dashboard</h2>
      <div class="d-flex">
        <a href="/admin/health/camera">Settings</a>
        <a href="/logout">Log Out</a>
      </div>
    </header>
    <div class="container">
      <div class="cameras">
        {% for camera in cameras %}
          <div class="camera">
            {% if camera.labled_image %}
              <img src="/media/LabelImages/{{ camera.labled_image }}" />
            {% else %}
              <img src="{% static 'images/empty.jpg' %}"/>
            {% endif %}
            <div class="cam-info">
              <h3><a href="/admin/health/camera/{{ camera.id }}/change">{{ camera.cid }}</a></h3>
              <p>{{ camera.room }}</p>              
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <footer class="footer">
      <p>@ Evolution Business Technologies, LLC.</p>
  </footer> 
  </body>  
</html>
